.wmde-banner {
	&-form-custom {
		&-header {
			text-align: center;
			font-weight: bold;
			margin-bottom: 6px;
		}
		&-notice {
			text-align: center;
			margin-bottom: 16px;
		}
		&-input-container {
			margin: 0 auto 8px;
			max-width: 100px;

			&:before {
				display: none;
			}
		}
	}
}
