<div class="poll">
    <a class="poll-close">×</a>
    <p class="poll-headline">Haben Sie 5 Minuten für Wikimedia?</p>
    <p>Sie können helfen, diese Seite zu verbessern, indem Sie uns wenige Fragen beantworten.</p>
    <span class="poll-button-wrapper"><a class="poll-button" href="https://wikimedia.sslsurvey.de/wpde/">Ja, zur Umfrage</a></span>
</div>