<div>
    <div class="call-to-action">
        <p>
            <strong>Ich möchte in Zukunft informiert werden, wenn Wikipedia meine Hilfe braucht.</strong> Ich bin damit einverstanden, dass die Wikimedia Fördergesellschaft mir zu diesem Zweck Spendenaufrufe per E-Mail zusendet und meine Daten hierfür bis auf Widerruf verarbeitet. Ich kann meine Einwilligung jederzeit mit Wirkung für die Zukunft widerrufen z. B. per E-Mail an spenden@wikimedia.de.
        </p>
        <label for="call-to-action-input">Meine E-Mail-Adresse:</label>
        <form>
            <input id="call-to-action-input" type="email"/>
            <button id="call-to-action-button" type="button">Ja, ich bin dabei!</button>
        </form>
        <p class="call-to-action-error"></p>
        <a href="https://spenden.wikimedia.de/page/Datenschutz">Hinweise zum Datenschutz</a>
    </div>

    <div class="call-to-action-confirmation" style="display:none;">
        <p>
            Wir haben eine E-Mail zur Bestätigung an <span id="call-to-action-email">die von Ihnen angegebene E-Mail-Adresse</span> gesendet. Bitte klicken Sie auf den Bestätigungs-Link in der E-Mail, um in Zukunft benachrichtigt zu werden, wenn Wikipedia Ihre Hilfe benötigt.
        </p>
        <p>
            Die Einwilligung können Sie jederzeit per E-Mail an spenden@wikimedia.de mit Wirkung für die Zukunft widerrufen.
        </p>
    </div>
</div>
