<div class="poll">
    <a class="poll-close" href="#">X</a>
    <p class="">Haben Sie 5 Minuten für Wikimedia?</p>
    <p>Sie können helfen, diese Seite zu verbessern, indem Sie uns wenige Fragen beantworten.</p>
    <span class="poll-button-wrapper"><a class="poll-button" href="#">Ja, zur Umfrage</a></span>
</div>