<div class="poll">
    <a class="poll-close">×</a>
    <p class="poll-headline">Haben Sie fünf Minuten Zeit für uns?</p>
    <p>Sie können helfen diese Seite zu verbessern. Bitte nehmen Sie an unserer Umfrage teil.</p>
    <span class="poll-button-wrapper"><a class="poll-button" href="https://wikimedia.sslsurvey.de/wpde/">Ja, ich helfe</a></span>
</div>