<div>
    <div class="call-to-action">
        <p>
            Ich möchte in Zukunft informiert werden, wenn Wikipedia meine Hilfe braucht.<br>Die Einwilligung kann ich jederzeit per E-Mail an spenden@wikimedia.de mit Wirkung für die Zukunft widerrufen.
        </p>
        <label for="call-to-action-input"><strong>Meine E-Mail-Adresse:</strong></label>
        <p><input id="call-to-action-input" type="email"/></p>
        <p class="call-to-action-error"></p>
        <p class="call-to-action-button-wrapper">
            <button id="call-to-action-button" type="button">E-Mail eintragen</button>
        </p>
    </div>

    <div class="call-to-action-confirmation" style="display:none;">
        <p>
            Wir haben eine E-Mail zur Bestätigung an <span id="call-to-action-email">die von Ihnen angegebene E-Mail-Adresse</span> gesendet. Bitte klicken Sie auf den Bestätigungs-Link in der E-Mail, um in Zukunft benachrichtigt zu werden, wenn Wikipedia Ihre Hilfe benötigt.
        </p>
        <p>
            Die Einwilligung können Sie jederzeit per E-Mail an spenden@wikimedia.de mit Wirkung für die Zukunft widerrufen.
        </p>
    </div>
</div>
