#WMDE_Banner {
	.select-group {
		&__state,
		&__custom-input {
			height: 45px;
		}
		&__option {
			@media ( max-width: 1399px ) {
				min-width: 50px;
				width: 100%;
			}
		}
	}
	.infobox__text {
		line-height: 1.4em;
	}
	.button-group__label {
		height: 45px;
		padding: 10px 0.4em;
	}
}
