#WMDE_Banner {

	.select-group__custom-input {
		padding: 0.4em 2.4em 0.4em 0.4em;
	}

	.select-group__custom-input + .select-group__state {
		position: absolute;
		top: 0;
		right: 1em;
		border-color: transparent;
		background: transparent;
	}

}
