.wmde-banner {
	.footer {
		font-size: 16px;
		line-height: 22px;
		margin-top: 1em;

		&__info {
			text-transform: uppercase;
		}

		&__importantinfo {
			font-weight: bolder;
		}

		&__item {
			white-space: nowrap;

			&--rightflex {
				flex-grow: 1;
				text-align: right;
			}

			span {
				margin-right: 0.3em;
			}
		}
	}

	.application-of-funds-link {
		display: none;
	}
}
