@import "../styles/breakpoints.pcss";

.close {
	position: absolute;
	width: 18px;
	margin: 0.25em 0.25em 0.25em 0;
	top: 10px;
	right: 20px;
	opacity: 0.5;
	@media ( min-width: $breakpoint-m ) {
		top: 0;
		right: 0;
	}
}

.close__link {
	font-size: 25px;
	text-decoration: none;
	border: 0;
	padding: 0;
	&:hover {
		background-color: transparent;
		text-decoration: none;
	}
}
