.wmde-banner {
	&-select-group-container.select-payment-method {
		.wmde-banner-select-group {
			padding-bottom: 0;
		}
	}
	&-select-group-container.select-interval {
		.wmde-banner-select-group-option {
			width: 50%;
		}
		.wmde-banner-select-group-option.select-interval-0 {
			width: 100%;
		}
	}
}
