/**
The order in which imports happen is important because component ones
can be overridden by the theme and the individual banners. The variable
weight should be component < theme < banner.
 */

/* COMPONENT VARIABLES */
@import '../../../components/ButtonClose/ButtonCloseVariables.pcss';
@import '../../../components/Footer/FooterVariables.pcss';
@import '../../../components/UseOfFunds/UseOfFundsVariables.pcss';

@import '../../../themes/goku/theme-variables.pcss';
@import './variables.pcss';

@import './Banner.pcss';
@import './ButtonClose_var.pcss';

/* COMPONENTS */
@import '../../../components/BannerTransition/BannerTransition.pcss';
@import '../../../components/ButtonClose/ButtonClose.pcss';
@import '../../../components/DonationForm/DonationForm.pcss';
@import '../../../components/DonationForm/SelectGroup.pcss';
@import '../../../components/DonationForm/SelectCustomAmount.pcss';

/* omitting the SmsBox import here because we're not displaying it */
@import '../../../components/Footer/Footer.pcss';
@import '../../../components/Footer/SelectionInput.pcss';
@import '../../../components/Slider/Slider.pcss';
@import '../../../components/UseOfFunds/UseOfFunds.pcss';

/* THEME */
@import '../../../themes/goku/DonationForm/DonationForm.pcss';
@import '../../../themes/goku/DonationForm/SelectGroup.pcss';
@import '../../../themes/goku/DonationForm/SelectCustomAmount.pcss';
@import '../../../themes/goku/DonationForm/SmsBox.pcss';
@import '../../../themes/goku/Footer/Footer.pcss';
@import '../../../themes/goku/Footer/SelectionInput.pcss';
@import '../../../themes/goku/Message/Message.pcss';
@import '../../../themes/goku/Slider/Slider.pcss';
