@import 'variables_var.pcss';

/* Components */

@import '../components/DonationForm_var.pcss';
@import '../components/Footer_var.pcss';
@import '../components/Funds.pcss';
@import '../components/Infobox_var.pcss';
@import '../components/ProgressBar_var.pcss';

/* Banner Layout */

@import '../banners/DesktopBanner_var.pcss';
@import '../banners/MobileBanner.pcss';
@import '../banners/MobileBannerFullpage.pcss';
