/*
Always work 'mobile first':
	do not use @media ( max-width: $breakpoint-x )
	always use @media ( min-width: $breakpoint-x )
*/
$breakpoint-xxs: 400px;
$breakpoint-xs: 600px; /* Mobile breakpoint */
$breakpoint-s: 800px;
$breakpoint-m: 1150px;
$breakpoint-l: 1350px;
$breakpoint-xl: 1900px;