.wmde-banner {
	.infobox {
		color: $color-black;
		font-family: $banner-main-font-family;
		font-size: 1em;
		@media ( min-width: $breakpoint-s ) {
			font-size: 1.1em;
		}
		@media ( min-width: 1150px ) {
			font-size: 1.3em;
		}
		line-height: 1.3em;
		text-align: left;
		margin: 0.5em 1.4em 0.5em 1.2em;
	}
}
