.wmde-c {
	&-button {
		background: $button-background;
		border: $button-border;
		border-radius: $button-border-radius;
		padding: $button-padding;
		margin: $button-margin;
		height: $button-height;
		font-family: $button-font-family;
		font-weight: $button-font-weight;
		color: $button-color;

		cursor: pointer;

		&:hover,
		&:focus {
			background: $button-background-hover;
			color: $button-color-hover;
		}
	}
}