/* Field Defaults */
$button-background: $color-primary;
$button-background-hover: $color-primary-light;
$button-color: $color-white;
$button-color-hover: $color-white;
$button-font-family: $font-sans-serif;
$button-font-weight: normal;
$button-border: none;
$button-border-radius: 5px;
$button-padding: 10px 20px;
$button-margin: 0;
$button-height: auto;