/**
The order in which imports happen is important because component ones
can be overridden by the theme and the individual banners. The variable
weight should be component < theme < banner.
 */

/* COMPONENT VARIABLES */
@import '../../../components/ButtonClose/ButtonCloseVariables.pcss';
@import '../../../components/Footer/FooterVariables.pcss';
@import '../../../components/UseOfFunds/UseOfFundsVariables.pcss';

@import '../../../themes/videl/theme-variables.pcss';
@import './variables.pcss';

@import './Banner.pcss';
@import './MiniBanner.pcss';
@import './FullBanner.pcss';

/* COMPONENTS */
@import '../../../components/BannerTransition/BannerTransition.pcss';
@import '../../../components/BannerTransition/FollowupTransition.pcss';
@import '../../../components/Footer/SelectionInput.pcss';
@import '../../../components/ButtonClose/ButtonClose.pcss';
@import '../../../components/DonationForm/DonationForm.pcss';
@import '../../../components/DonationForm/SelectGroup.pcss';
@import '../../../components/DonationForm/SelectCustomAmount.pcss';
@import '../../../components/DonationForm/SmsBox.pcss';
@import '../../../components/Slider/Slider.pcss';
@import '../../../components/ProgressBar/ProgressBar.pcss';
@import '../../../components/UseOfFunds/UseOfFunds.pcss';
@import '../../../components/UseOfFunds/FundsDistributionAccordion.pcss';

/* THEME */
@import '../../../themes/videl/animated-text-highlight.pcss';
@import '../../../themes/videl/Slider/Slider.pcss';
@import '../../../themes/videl/ProgressBar/ProgressBar.pcss';
@import '../../../themes/videl/DonationForm/DonationForm.pcss';
@import '../../../themes/videl/DonationForm/SelectGroup.pcss';
@import '../../../themes/videl/DonationForm/SelectCustomAmount.pcss';
@import '../../../themes/videl/DonationForm/SmsBox.pcss';
@import '../../../themes/videl/Footer/Footer.pcss';
@import '../../../themes/videl/Footer/SelectionInput.pcss';
