.wmde-banner {
	&-soft-close {
		display: none;
		z-index: 20000;
		width: 100%;
		background: #ffffff;
	}

	&--soft-closing {
		.wmde-banner-soft-close {
			display: block;
		}
		.wmde-banner-wrapper {
			display: none;
		}
	}
}
