/* Text Defaults */
$text-font-size-xs: 10px;
$text-font-size-s: 20px;
$text-font-size-m: 30px;
$text-font-size-l: 40px;
$text-font-size-xl: 50px;

$text-font-family: $font-serif;
$text-padding: 0 30px 0 0;
$text-margin: 0;
