.call-to-action {
	font-size: 13px;
	&-error {
		color: #f44842;
	}
	form {
		margin-top: 2px;
		button {
			height: 30px;
		}
	}
	a {
		float: left;
	}
	input {
		box-sizing: border-box;
		background-color: #eeeeee;
		border: 1px solid #cccccc;
		height: 30px;
		width: 18em;
		padding: 5px 5px 5px 10px;
	}
}

.feature-wrapper {
	width: 48em;
}
