<div class="preview-container">
    <div class="preview-container__pane">
        <h2>Preview on Wikipedia</h2>
        <div>
            {{> banner_selection_list banners=wikipedia_banners }}
        </div>
    </div>
    <div class="preview-container__pane">
        <h2>Preview locally</h2>
        <div>
            {{> banner_selection_list banners=local_banners }}
        </div>
    </div>
</div>