.wmde-banner {
	&-benefits {
		list-style-type: none;
		list-style-image: none;
		padding: 0;
		margin: 0;
		li {
			margin-bottom: 10px;
			position: relative;
			padding-left: 24px;
		}
		svg {
			position: absolute;
			top: 5px;
			left: 0;
		}
	}
}
