.wmde-banner--last-slide {
	.fullpage-banner__info {
		display: none;
	}
	.fullpage-banner__close {
		top: 6px;
		z-index: 100;
		width: 16px;
		height: 16px;
		background: $color-primary;
		svg {
			width: 16px;
			height: 16px;
			path {
				fill: $color-white;
			}
		}
	}
}
