.wmde-banner {
	.infobox {
		color: $color-black;
		font-family: $banner-main-font-family;
		font-size: 1.05em;
		line-height: 1.2em;
		text-align: left;
		margin: 0 0 0.5em 2em;

		&__footer {
			padding: 0.5em 0 0.5em 2em;
			background: url( 'https://upload.wikimedia.org/wikipedia/donate/3/37/Information-icon-yellow.png' ) no-repeat left 0.5em top 0.1em/18px 18px;
		}
	}
}
