.collage-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/74/Shape-germany-and-states.png');
}