@import 'variables_ctrl.pcss';

@import '../../shared/components/ui/DonationForm.pcss';
@import '../../shared/components/ui/Footer.pcss';
@import '../../shared/components/ui/Infobox.pcss';
@import '../../shared/components/ui/ProgressBar.pcss';
@import '../../shared/components/ui/FundsModal.pcss';


.wmde-banner {
	visibility: hidden;
	width: 100%;

	&--visible {
		visibility: visible;
	}
	&--hidden {
		display: none;
	}
}

