.wmde-banner {
	&-close {
		width: $banner-padding;
		height: $banner-padding;
		line-height: $banner-padding;
		opacity: 0.8;

		&-link {
			font-size: 27px;
			color: $color-gray;
			text-decoration: none;
			cursor: pointer;
			&:hover {
				color: $color-gray-medium;
			}
		}
	}
}
