.progress_bar__text__above {
	font-size: 13px;
	font-weight: bold;
	line-height: 28px;
	display: flex;
	flex-wrap: nowrap;
	padding: 0 20px;

	@media ( max-width: 350px ) {
		font-size: 12px;
	}

	> div {
		white-space: nowrap;
	}

	&_left {
		color: #990000;
		flex: 1 1 25%;
		text-align: left;
	}

	&_right {
		flex: 1 1 75%;
		text-align: right;
	}
}
