<div class="progress_bar__text__above">
	<div>{{{ text-inner-right }}}</div>
	<div>{{{ text-inner-left }}} {{{ text-right }}}</div>
	<div></div>
</div>
	<div class="progress_bar {{ modifier }}">
	<div class="progress_bar__wrapper">
		<div class="progress_bar__donation_fill"></div>
	</div>
	<div class="progress_bar__donation_remaining progress_bar__donation_remaining--outer">
		<div class="progress_bar__pointer_tip"></div>
	</div>
</div>
