<div class="progress_bar">
    <div class="progress_bar__wrapper">
        <div class="progress_bar__donation_fill">
            <div class="progress_bar__days_left">{{{ text-inner-left }}}</div>
            <div class="progress_bar__donation_text">{{{ text-inner-right }}}</div>
        </div>
        <div class="progress_bar__donation_remaining progress_bar__donation_remaining--inner">{{{ text-right }}}</div>
    </div>
    <div class="progress_bar__donation_remaining progress_bar__donation_remaining--outer">
        <div class="progress_bar__pointer_tip"></div>
        <hr class="progress_bar__pointer_line">
        {{{ text-right }}}
    </div>
</div>
