<p class="text__headline text__headline--bold text__headline--italic">
	Liebe Leserinnen und Leser:
</p>

<p class="text__paragraph text__paragraph--bold">
	Verzeihen Sie die Störung.
	An diesem {{ currentDayName }} sind Sie in Deutschland gefragt. Wikipedia wird durch Spenden von durchschnittlich 20 € finanziert.

	<span class="text__highlight">
		Wenn alle, die das jetzt lesen, einen kleinen Beitrag leisten, ist unsere Spendenkampagne in einer Stunde vorüber.
	</span>

	Schon der Preis einer Tasse Kaffee würde genügen. Millionen von Menschen nutzen Wikipedia, aber nur ein Bruchteil spendet.
	Sicher könnten wir mit Werbung eine Menge Geld verdienen. Aber dann wäre Wikipedia komplett anders. Wir könnten ihr nicht vertrauen.
	Es ist leicht, diese Nachricht zu ignorieren und die meisten werden das wohl tun.
	Wenn Sie Wikipedia nützlich finden, nehmen Sie sich an diesem {{ currentDayName }} bitte eine Minute Zeit und geben Wikipedia mit Ihrer Spende etwas zurück.

	<span class="text__paragraph--italic">
		Vielen Dank!
	</span>
</p>
