.wmde-banner {
	&-legacy-progress-bar {
		display: flex;

		&-donation-text {
			visibility: hidden;
			display: block;
		}
		&-wrapper {
			position: relative;
			display: flex;
			justify-content: space-between;
			flex: 1;
		}
		&-donation-fill {
			width: 0;
			transition-duration: 3000ms;
			transition-property: width;

			/* minimum width for '0,1M €' */
			min-width: 5em;
			display: flex;
			justify-content: space-between;
		}
		&-days-left {
			visibility: hidden;
		}

		&-donation-remaining {
			position: absolute;
			right: 0;
			visibility: hidden;
			white-space: nowrap;
		}

		&-donation-remaining-outer {
			display: none;
			position: relative;
		}

		&--finished {
			.wmde-banner-legacy-progress-bar-days-left,
			.wmde-banner-legacy-progress-bar-donation-text,
			.wmde-banner-legacy-progress-bar-donation-remaining {
				visibility: visible;
			}
		}

		@media ( max-width: 600px ) {
			.wmde-banner-legacy-progress-bar-days-left,
			.wmde-banner-legacy-progress-bar--finished .wmde-banner-legacy-progress-bar-days-left {
				display: none;
			}
		}

		&--lateprogress {
			.wmde-banner-legacy-progress-bar-donation-remaining-inner {
				display: none;
			}

			.wmde-banner-legacy-progress-bar-donation-remaining-outer {
				display: block;
			}

			.wmde-banner-legacy-progress-bar-donation-fill {
				margin-right: 0;
			}
			.wmde-banner-legacy-progress-bar-wrapper {
				margin-right: -20px;
			}
		}
	}
}
