<p class="infobox__greeting">
	To all our readers in Germany.
</p>
<p>
	We will get straight to the point: This {{ currentDayName }} we ask you to protect Wikipedia's independence.
	To maintain our independence, we will never run ads.
	We depend on donations averaging about 20 Euro. Only a tiny portion of our readers give.
	<span id="to-highlight">
		If everyone reading this donated a small amount, we could keep Wikipedia thriving for years to come.
	</span>
	The price of a coffee is all we need.
	It's a little awkward for us to ask you, this {{ currentDayName }}, as we're sure you are busy and we don't want to interrupt you.
	But there's never an easy time to remind people that giving to Wikipedia not only supports a service you frequently use,
	but it helps keep a neutral internet alive and thriving. We can't afford to feel embarrassed,
	asking you to make a donation — just like you should never feel embarrassed when you have to ask Wikipedia for information.
	We do it in the pursuit of free knowledge that's always ad-free, never tracks your data, and is never sold off to corporate big-wigs.
	That's nothing to be embarrassed about, if you ask us. When we made Wikipedia a non-profit, people warned us we'd regret it.
	But if Wikipedia became commercial, it'd be a great loss to the world. Wikipedia is a place for you to learn, not a place for advertising.
	It unites all of us who love knowledge: contributors, readers and the donors who keep us thriving.
	The heart and soul of Wikipedia is a community of people working to bring you unlimited access to reliable, neutral information.
	Please take one minute to help us keep Wikipedia growing.
	Thank you.
</p>