<p class="infobox__greeting">
	Dear readers:
</p>

<p>
	We will get straight to the point: Today we ask you to help Wikipedia. To maintain our independence, we will never run ads. We depend on donations averaging about € 20. Only a tiny portion of our readers give.
	<span id="to-highlight">
		If everyone reading this gave a small amount, we could keep Wikipedia thriving for years to come.
	</span>
	The price of a coffee is all we need. When I made Wikipedia a non-profit, people warned me I’d regret it.
	Over a decade later, it’s the only top ten site run by a non-profit and a community of volunteers.
	Has it crossed my mind how much we could have made if it had ads? Sure. But it wouldn’t be the same. We wouldn’t be able to trust it.
	Most people ignore my messages. But I hope you’ll think about how useful it is to have unlimited access to reliable, neutral information.
	Please help keep Wikipedia online and growing. Thank you! — <span class="infobox__text--italic">Jimmy Wales, Wikipedia</span>
</p>