<div class="mini-banner" style="top: -10000px">
	<div class="mini-banner-box">
		<div class="mini-banner-content">
			<div class="banner-headline">
				<div>
					<span>The Wikimedia Fundraising Campaign</span>
				</div>
			</div>
			<div id="mini-banner-close-button" class="banner-close-button"></div>
			<div class="mini-banner-carousel">
				<div class="carousel-cell">
					<p>To all our readers in Germany. We will get straight to the point:
						This {{ currentDayName }} we ask you to protect Wikipedia's independence.</p>
				</div>
				<div class="carousel-cell">
					<p>Our fundraising appeal is displayed over {{ amountBannerImpressionsInMillion }} million times a day,
						but currently only {{ numberOfDonors }} people have donated. The price of a coffee is all we need.</p>
				</div>
				<div class="carousel-cell">
					<p>If everyone reading this gave a small amount, we could keep Wikipedia thriving for years to come.</p>
				</div>
				<div class="carousel-cell">
					<p>Most people ignore this message. But we hope you’ll think about how useful
						it is to have unlimited access to reliable, neutral information.</p>
				</div>
				<div class="carousel-cell">
					<p>Please take one minute to help us keep Wikipedia growing. Thank you.</p>
				</div>
			</div>
			<div class="mini-banner-tab">
				<div class="mini-banner-tab-inner">
					Donate now
				</div>
			</div>
		</div>
	</div>
</div>