.wmde-banner {
	&-message {
		font-family: $banner-text-font-family;
		font-size: 18px;
		line-height: 1.3em;
		text-align: left;

		p {
			margin: 0 0 1em;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
