<div class="progress__tree">
  <div class="tree__green">
  </div>

  <div class="tree__white">
  </div>

  <div class="tree__front">
  </div>

  <div class="missing__text">
    <p>Es fehlen:<br>{{{ missing }}}</p>
  </div>

  <div class="donated__text">
    <p>Bisher gespendet:<br>{{{ donated }}}</p>
  </div>
</div>
