<div class="mini-banner">
	<div class="mini-banner__close-button"></div>
	<div class="mini-banner__text">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
	</div>
	<div class="mini-banner__tab" style="color: #0645ad;">
		<img src="//upload.wikimedia.org/wikipedia/donate/d/da/Arrow-up-1.png" /> Jetzt spenden
	</div>
</div>
