<div class="mini-banner">
    <div class="mini-banner-content">
        <div class="mini-banner-headline">
           <div>
               <span>Die Wikimedia Spendenkampagne</span>
           </div>
        </div>
        <div class="banner-carousel">
            <div class="carousel-cell">
                <p><strong>Slider 1</strong></p>
                <p>Lorem ipsum dolor sit amet, augue quaestio necessitatibus in nec, mea in hinc placerat sadipscing.</p>
            </div>
            <div class="carousel-cell">
                <p><strong>Slider 2</strong></p>
                <p>Duo cu facilis argumentum necessitatibus, eu voluptua gloriatur reformidans est, pri at ullum saepe percipitur.
                   Vix cu iisque quaerendum, esse mazim cu sit.
                </p>
            </div>
            <div class="carousel-cell">
                <p><strong>Slider 3</strong></p>
                <p>Ad persius fabulas dissentiet eam. Te dolor qualisque pri, vocent fastidii est ea.</p>
            </div>
            <div class="carousel-cell">
                <p><strong>Slider 4</strong></p>
                <p>Duo accusata honestatis efficiantur eu. Eu inermis reprimique cotidieque sea, choro vocent an pri.</p>
            </div>
            <div class="carousel-cell">
                <p><strong>Slider 5</strong></p>
                <p>Vix ne tation albucius vituperata. At tantas incorrupte vim, cu his partem impetus.</p>
            </div>
        </div>
    </div>
</div>