.wmde-banner {
	.form {
		padding: 16px;
		position: relative;

		&__section {
			border: 0;
		}

		&__section-head {
			display: block;
			width: 100%;
			text-align: center;
			height: 18px;
			line-height: 18px;
			margin-bottom: 8px;
		}
	}

	.button-group {
		margin-bottom: 16px;

		&__button {
			width: 100%;
			border: 0;
		}
	}
}
