<div class="mini-banner">
    <div class="mini-banner__close-button"></div>
    <div class="mini-banner__text">
        <strong>
            Liebe Leserinnen und Leser:<br />
            Über {{ amountBannerImpressionsInMillion }} Millionen Mal wird unser Spendenaufruf täglich angezeigt, aber nur {{ numberOfDonors }} Menschen haben bisher gespendet.
            <span class="text__highlight">Wenn alle, die das jetzt lesen, einen kleinen Beitrag leisten, wäre unsere Spendenkampagne am heutigen {{ currentDayName }} vorbei.</span>
        </strong>
    </div>
    <div class="mini-banner__tab" style="color: #0645ad;">
        <img src="//upload.wikimedia.org/wikipedia/donate/d/da/Arrow-up-1.png" /> Jetzt spenden
    </div>
</div>