<div class="mini-banner" style="top: -10000px">
    <div class="mini-banner-box">
        <div class="mini-banner-content">
            <div class="banner-headline">
               <div>
                   <span>Die Wikimedia-Spendenkampagne</span>
               </div>
            </div>
            <div id="mini-banner-close-button" class="banner-close-button"></div>
            <div class="mini-banner-carousel">
                <div class="carousel-cell">
                    <p>Heute ist der 31. Tag unserer Spendenkampagne. Wikipedia wird durch Spenden von durchschnittlich 20 &euro; finanziert.</p>
                </div>
                <div class="carousel-cell">
                    <p>Lorem ipsum dolor sit amet, augue quaestio necessitatibus in nec, mea in hinc placerat sadipscing</p>
                    <p>Vix cu iisque quaerendum, esse mazim cu sit.</p>
                </div>
                <div class="carousel-cell">
                    <p>Ad persius fabulas dissentiet eam. Te dolor qualisque pri, vocent fastidii est ea.</p>
                </div>
                <div class="carousel-cell">
                    <p>Duo accusata honestatis efficiantur eu. Eu inermis reprimique cotidieque sea, choro vocent an pri.</p>
                </div>
                <div class="carousel-cell">
                    <p>Vix ne tation albucius vituperata. At tantas incorrupte vim, cu his partem impetus.</p>
                </div>
            </div>
            <div class="mini-banner-tab">
                <div class="mini-banner-tab-inner">
                    Jetzt spenden
                </div>
            </div>
        </div>
    </div>
</div>