<div class="mini-banner">
	<div class="mini-banner__close-button"></div>
	<div class="mini-banner__text">
		<strong>
			Liebe Leserinnen und Leser:<br />
			Millionen von Menschen nutzen Wikipedia, aber nur ein Bruchteil spendet.
			<span class="text__highlight">
				Wenn jeder nur einen kleinen Beitrag leistet, ist unsere Spendenkampagne in einer Stunde vorüber.
			</span>
		</strong>
	</div>
	<div class="mini-banner__tab" style="color: #0645ad;">
		<img src="//upload.wikimedia.org/wikipedia/donate/d/da/Arrow-up-1.png" /> Jetzt spenden
	</div>
</div>
