<div id="frbanner2">
	<p>
		<span id="frbanner2-close"></span>
		<strong>
			Liebe Leserinnen und Leser:<br />
			Millionen von Menschen nutzen Wikipedia, aber nur ein Bruchteil spendet.
			<span id="mini-highlight">
				Wenn jeder nur einen kleinen Beitrag leistet, ist unsere Spendenkampagne in einer Stunde vorüber.
			</span>
		</strong>
	</p>
	<div class="frbanner2-tab" style="color: #0645ad;">
		<img src="//upload.wikimedia.org/wikipedia/donate/d/da/Arrow-up-1.png" class="tab-img"> Jetzt spenden
	</div>
</div>
