.wmde-banner {
	font-size: 16px;
	font-family: $banner-serif;

	button {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.text-highlight {
		font-weight: bold;
	}

	a,
	button {
		transition: color 500ms $banner-easing;
		/* background: $color-white; */
		text-decoration: underline;
		z-index: 2;
		font-family: $banner-sans-serif;
		font-size: 14px;

		&:hover,
		&:focus {
			cursor: pointer;
			color: $color-primary;
		}
	}
}
