.wmde-banner {
	.carousel-cell {
		text-align: center;
		p {
			padding-bottom: 16px;

			&:last-child {
				padding-bottom: 0;
			}
		}
	}

	.flickity-page-dots .dot {
		background: $color-gray-medium;
		&.is-selected {
			background: $color-gray;
		}
	}
}
