.wmde-banner {
	.lang-warning {
		right: 2.5em;
		background: #f2f4ff;
		position: absolute;
		border: 1px solid #c2cedb;
		font-size: 0.8em;
		width: 236px;

		&--hidden {
			display: none;
		}
		&--visible {
			display: block;
		}
	}

	.lang-warning p {
		padding: 2px 4px;
		text-align: center;
	}
}
