#WMDE_Banner {

	.form:before {
		position: absolute;
		right: 15.75em;
		top: 50%;
		content: ' ';
		margin: -20px 0 0 0;
		border: 20px solid transparent;
		border-left-color: #990000;
		pointer-events: none;
	}

}
