/**
The order in which imports happen is important because component ones
can be overridden by the theme and the individual banners. The variable
weight should be component < theme < banner.
 */

/* COMPONENT VARIABLES */
@import '../../../components/ButtonClose/ButtonCloseVariables.pcss';
@import '../../../components/Footer/FooterVariables.pcss';
@import '../../../components/UseOfFunds/UseOfFundsVariables.pcss';

@import '../../../themes/mr-satan/theme-variables.pcss';
@import './variables.pcss';

@import './Banner.pcss';

/* COMPONENTS */
@import '../../../components/BannerTransition/BannerTransition.pcss';
@import '../../../components/ButtonClose/ButtonClose.pcss';
@import '../../../components/DonationForm/DonationForm.pcss';
@import '../../../components/DonationForm/SelectGroup.pcss';
@import '../../../components/DonationForm/SelectCustomAmount.pcss';
/* omitting the SmsBox import here because we're not displaying it */
@import '../../../components/ProgressBar/LegacyProgressBar.pcss';
@import '../../../components/Footer/Footer.pcss';
@import '../../../components/Footer/SelectionInput.pcss';
@import '../../../components/Slider/Slider.pcss';
@import '../../../components/UseOfFunds/UseOfFunds.pcss';

/* THEME */
@import '../../../themes/mr-satan/ButtonClose/ButtonClose.pcss';
@import '../../../themes/mr-satan/DonationForm/DonationForm.pcss';
@import '../../../themes/mr-satan/DonationForm/SelectGroup.pcss';
@import '../../../themes/mr-satan/DonationForm/SelectCustomAmount.pcss';
@import '../../../themes/mr-satan/DonationForm/SmsBox.pcss';
@import '../../../themes/mr-satan/ProgressBar/LegacyProgressBar.pcss';
@import '../../../themes/mr-satan/Footer/Footer.pcss';
@import '../../../themes/mr-satan/Footer/SelectionInput.pcss';
@import '../../../themes/mr-satan/Message/Message.pcss';
@import '../../../themes/mr-satan/Slider/Slider.pcss';

/* WPDE Desktop is old and has a few tweaks from the standard theme */
@import '../../../themes/mr-satan/variant-wpde-desktop.pcss';
