@import '../../../shared/components/ui/use_of_funds/variables.pcss';
@import './variables_ctrl.pcss';

@import './desktop/Banner.pcss';
@import './desktop/BannerText.pcss';
@import './desktop/DonationForm_var.pcss';
@import './desktop/DonationFormSteps.pcss';
@import './desktop/Footer.pcss';
@import './desktop/Infobox.pcss';
@import './desktop/ProgressBar.pcss';
@import './desktop/SelectGroup.pcss';
@import './desktop/Slider.pcss';
@import '../../../shared/components/ui/use_of_funds/CompanyBudgets.pcss';
@import '../../../shared/components/ui/use_of_funds/FundsContent.pcss';
@import '../../../shared/components/ui/use_of_funds/FundsModal.pcss';
@import '../../../shared/components/ui/use_of_funds/FundsDistributionInfo.pcss';
