.wmde-banner {

	.optional-text {
		display: none;
		@media ( min-width: $breakpoint_l ) {
			&.text-m {
				display: inline;
			}
			&.text-l {
				display: inline;
			}
		}
		@media ( min-width: $breakpoint_xl ) {
			&.text-xl {
				display: inline;
			}
		}
	}

	.banner-text .info-icon {
		position: relative;
		top: -3px;
		left: 0;
	}
}
