@import '../../shared/components/ui/use_of_funds/variables.pcss';
@import 'variables_var.pcss';

@import '../../shared/components/BannerTransition.pcss';

@import 'Banner_var.pcss';
@import 'Slider_var.pcss';
@import 'ProgressBar.pcss';
@import 'BannerText.pcss';
@import 'DonationForm.pcss';
@import 'DonationFormSteps_var.pcss';
@import 'SelectGroup.pcss';
@import 'Infobox_var.pcss';
@import 'Bank.pcss';

@import '../../shared/components/ui/use_of_funds/FundsModal.pcss';
@import '../../shared/components/ui/use_of_funds/FundsContent.pcss';
@import '../../shared/components/ui/use_of_funds/FundsDistributionInfo.pcss';
@import '../../shared/components/ui/use_of_funds/CompanyBudgets.pcss';
