/**
The order in which imports happen is important because component ones
can be overridden by the theme and the individual banners. The variable
weight should be component < theme < banner.
 */

/* COMPONENT VARIABLES */
@import '../../../components/ButtonClose/ButtonCloseVariables.pcss';
@import '../../../components/Footer/FooterVariables.pcss';

@import '../../../themes/goku/theme-variables.pcss';
@import '../../../shared/components/ui/use_of_funds/variables.pcss';
@import './variables.pcss';

@import '../../../shared/components/BannerTransition.pcss';

@import './Banner.pcss';
@import './SelectGroup.pcss';
@import './ProgressBar.pcss';

@import '../../../shared/components/ui/use_of_funds/FundsModal.pcss';
@import '../../../shared/components/ui/use_of_funds/FundsContent.pcss';
@import '../../../shared/components/ui/use_of_funds/FundsDistributionInfo.pcss';
@import '../../../shared/components/ui/use_of_funds/CompanyBudgets.pcss';

/* COMPONENTS */
@import '../../../components/ButtonClose/ButtonClose.pcss';
@import '../../../components/Slider/Slider.pcss';
@import '../../../components/Footer/Footer.pcss';
@import '../../../components/Footer/SelectionInput.pcss';
@import '../../../components/DonationForm/DonationForm.pcss';

/* THEME */
@import '../../../themes/goku/ButtonClose/ButtonClose.pcss';
@import '../../../themes/goku/Message/Message.pcss';
@import '../../../themes/goku/Slider/Slider.pcss';
@import '../../../themes/goku/Footer/Footer.pcss';
@import '../../../themes/goku/Footer/SelectionInput.pcss';
@import '../../../themes/goku/DonationForm/DonationForm.pcss';

.sms-box {
	display: none;
}
