.wmde-banner {
	&-close {
		height: 30px;
		line-height: 23px;
		text-align: center;

		&-link {
			padding: 8px 8px 0 0;
			color: $color-gray-medium;
			font-size: 14px;
			font-weight: bold;
			&:hover {
				text-decoration: underline;
			}

			svg {
				float: right;
				margin-left: 6px;
			}
		}
	}
}
