@import 'Footer.pcss';

.wmde-banner {
	&-footer {
		&-already-donated {
			color: $color-black;

			&:hover,
			&:focus {
				text-decoration: underline;
			}

			&:visited {
				color: $color-black;
			}
		}
	}
}
