.wmde-banner {
	.infobox {
		height: 100%;
		display: flex;
		align-items: center;
		color: $color-black;
		font-family: $banner-main-font-family;
		font-size: 1.3em;
		line-height: 1.3em;
		text-align: left;
		margin: 0.5em 1.4em 0.5em 1.2em;
	}
}
