$use-of-funds-breakpoint-xs: 600px;
$use-of-funds-breakpoint-s: 768px;
$use-of-funds-breakpoint-m: 800px;
$use-of-funds-breakpoint-l: 1090px;
$use-of-funds-breakpoint-xl: 1300px;
$use-of-funds-breakpoint-xxl: 1580px;
