.wmde-banner {
	&-close {
		padding: 8px 8px 0 0;
		text-align: center;
		width: 30px;
		height: 30px;
		line-height: 30px;

		&-link {
			color: $color-black-light;
			font-size: 25px;
			&:hover {
				text-decoration: none;
				color: $color-gray-medium;
			}
		}
	}
}
