.wmde-banner {
	visibility: hidden;
	width: 100%;
	font-size: 16px;

	* {
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.text-highlight {
		font-weight: bold;
	}

	&--visible {
		visibility: visible;
	}

	&--hidden {
		display: none;
	}

	&--mini-banner {
		.wmde-banner-full {
			visibility: hidden;
		}
	}

	&--full-page {
		.wmde-banner-mini {
			visibility: hidden;
		}
	}

	img {
		border: 0 none;
	}
}
