<div class="header">
    <div class="collapse_button"><span>&#9650;</span><span> Text Schließen</span></div>
</div>
<div class="content">
<div>
    <p class="text__headline">Herzlichen Dank!</p>
    <p class="text__paragraph">
        358.149 Menschen haben in den letzten Wochen gezeigt, wie wichtig ihnen Wikipedia ist.
        Allen, die dieses einzigartige Projekt durch eine Spende unterstützt haben, gebührt großer Dank.
        Ihr Engagement zeigt, dass wir uns auf unsere Leserinnen und Leser verlassen können.<br>
        <br>
        Ihre Spenden helfen sicherzustellen, dass uns Wikipedia als einzigartige Wissensquelle erhalten bleiben kann.<br>
        <br>
        Wir wollen, dass Wikipedia auf die ganze Welt ausstrahlt und wir sie alle als kostenfrei zugänglichen
        Ort des Wissens und Lernens nutzen können. Ein Ort, an dem nicht Werbung und Profit im Vordergrund stehen,
        sondern unsere Vision:<br>
        <br>
        Eine Welt zu erschaffen, in der alle Menschen am Wissen der Menschheit teilhaben, es nutzen und mehren können.<br>
        <br>
        Das schaffen wir nur gemeinsam mit Ihnen!
        Mit einer Spende ist uns allen schon viel geholfen – es gibt noch mehr Wege,
        wie Sie Wikipedia dauerhaft unterstützen und die Welt verbessern können.
        Als Autorin oder Autor in der Wikipedia, oder als Fördermitglied bei Wikimedia Deutschland.
    </p>
</div>

<div>
    <p class="text__headline">Machen Sie bei Wikipedia mit!</p>
    <p class="text__paragraph">
        Helfen Sie uns, indem Sie mitarbeiten. Denn jede Mitarbeit macht Wikipedia besser!<br>
        <br>
        Die deutschsprachige Wikipedia wird jeden Tag mehr als 30 Millionen Mal aufgerufen.
        Doch nur rund 9.000 freiwillige Autorinnen und Autoren schreiben und verbessern sie regelmäßig in ihrer Freizeit.<br>
        Die Zahl dieser Wikipedia-Aktiven geht immer weiter zurück.
        Wenn sich auch in Zukunft immer weniger Menschen engagieren,
        können Artikel nicht mehr aktuell gehalten werden – oder keine neuen entstehen.<br>
        Wikipedia lebt aber von der Mitarbeit möglichst vieler Menschen - Menschen wie Ihnen.
        Alle können mitmachen. Lernen Sie jetzt, wie Sie Artikel verbessern können.<br>
    </p>
    <div class="btn"><a href=" https://de.wikipedia.org/wiki/Wikipedia:Wikimedia_Deutschland/LerneWikipedia?campaign=WMDE_2019_thx">Ich möchte bei Wikipedia mitmachen</a></div>
</div>

<div>
    <p class="text__headline">Werden Sie Fördermitglied!</p>
    <p class="text__paragraph">
        Wenn Sie keine Zeit oder Lust haben mitzuschreiben,
        Wikipedia aber trotzdem langfristig unterstützen wollen,
        dann können Sie Fördermitglied bei Wikimedia Deutschland werden.<br>
        <br>
        Als Gesellschaft zur Förderung Freien Wissens verstehen wir die Chancengleichheit
        beim Zugang zu Wissen und Bildung als Menschenrecht.
        Wir arbeiten daran, dass Projekte wie Wikipedia auch in Zukunft existieren können.<br>
        <br>
        Als Fördermitglied unterstützen Sie Wikipedia und Freies Wissen
        mit einem regelmäßigen Beitrag. Der Mindestbetrag für Privatpersonen beträgt jährlich
        24 Euro – das sind nur 2 Euro pro Monat. Der Beitrag ist steuerlich absetzbar.
        Eine jährliche Zuwendungsbestätigung wird Ihnen automatisch zugesendet.
        Die Fördermitgliedschaft ist jederzeit formlos per E-Mail kündbar.<br>
        <br>
        Gemeinsam erreichen wir mehr: Schon über 70.000 Menschen engagieren sich als Fördermitglied für eine Welt,
        in der das gesamte Wissen aller Menschen für alle frei verfügbar ist. Seien Sie dabei!
    </p>
    <div class="btn"><a href="https://spenden.wikimedia.de/apply-for-membership?skin=0&type=sustaining">Ich möchte Fördermitglied werden</a></div>
    <p class="footer">
        Herzliche Grüße und einen guten Start ins Jahr 2019<br>
        <br>
        Abraham Taherivand<br>
        Geschäftsführender Vorstand Wikimedia Deutschland e. V.
    </p>
</div>
</div>