<div>
    <span>315.476 Mal</span>
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Thank-you-2017-text-thanks.svg" class="danke-text">
    <span class="text__animation">für Ihre Spende</span>
    <!--<ul class="list">
    <li> für Ihre Spende
    <li> an unsere besonderen Leserinnen und Leser</li>
    <li>, dass Sie uns gehört haben</li>
    <li> für eine unabhängige Wikipedia</li>
    <li> für ein weiteres Jahr freies Wissen!</li>
</ul>-->
</div>

