<div class="text-part"><span id="wmde-number-of-donors" class="donor-number">{{{ numberOfDonors }}}</span> Mal</div>
<div class="text-part"><img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Thank-you-2017-text-thanks.svg" class="danke-text"></div>
   <!-- <span class="text__animation">für Ihre Spende</span>-->
<div class="thankyou-items text-part">
    <ul class="thankyou-items--list">
		<li> für Ihre Spende</li>
        <li> an unsere besonderen Leserinnen und Leser</li>
        <li> dass Sie uns gehört haben</li>
        <li> für eine unabhängige Wikipedia</li>
        <li> für ein weiteres Jahr freies Wissen</li>
    </ul>
</div>