<div>
    <span>315.476 Mal</span>
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Thank-you-2017-text-thanks.svg" class="danke-text">
    <span class="text__animation">für Ihre Spende</span>
</div>