<div class="firework">
	<div class="explosion"><div class="spark"></div></div>
	<div class="explosion"><div class="spark"></div></div>
	<div class="explosion"><div class="spark"></div></div>
	<div class="explosion"><div class="spark"></div></div>
	<div class="explosion"><div class="spark"></div></div>
	<div class="explosion"><div class="spark"></div></div>
	<div class="explosion"><div class="spark"></div></div>
	<div class="explosion"><div class="spark"></div></div>
	<div class="explosion"><div class="spark"></div></div>
	<div class="explosion"><div class="spark"></div></div>
	<div class="explosion"><div class="spark"></div></div>
	<div class="explosion"><div class="spark"></div></div>
</div>