.wmde-banner {
	visibility: hidden;
	width: 100%;

	* {
		box-sizing: border-box;
	}

	&--visible {
		visibility: visible;
	}
	&--hidden {
		display: none;
	}
	&--mini-banner {
		.fullpage-banner {
			visibility: hidden;
		}
	}

	&--full-page {
		.mini-banner {
			visibility: hidden;
		}
	}

	img {
		border: 0 none;
	}
}
