#frbanner-window {
	.button-group__button {
		&.disabled {
			background-color: #ffffff;
			color: #999999;
			border: 1px solid #9aa0a7;
			&:hover {
				cursor: auto;
				background-color: #ffffff;
				color: #999999;
				border: 1px solid #9aa0a7;
			}
		}
	}
}
