#frbanner-window {
	.button-group--tablet-2cols {
		@media ( min-width: 980px ) {
			/* reset special 5th button (SMS in ctrl, sofort in var) */
			.button-group__container:nth-child( 5 ) {
				width: 49%;
				margin-right: 2%;
			}
		}
	}
}
