/* Close Button Defaults */
$close-button-position: absolute;
$close-button-height: 46px;
$close-button-width: 46px;
$close-button-top: 10px;
$close-button-right: 10px;
$close-button-padding: 0;
$close-button-margin: 0;
$close-button-background: $color-white;
$close-button-background-hover: $color-gray-light;
$close-button-color: $color-gray-dark;
$close-button-color-hover: $color-gray-darker;
$close-button-border: none;
$close-button-border-radius: 50%;