<p class="text__headline">
    Liebe Leserinnen und Leser, bitte verzeihen Sie die Störung.
    {{ capitalizeFirstLetter weekdayPrepPhrase }} {{ currentDayName }} sind Sie in Deutschland gefragt:
</p>

<p class="text__paragraph">
    <span class="text__highlight">In den letzten Jahren haben durchschnittlich über 400.000 Menschen für Wikipedia gespendet.</span>

    Wenn alle, die das jetzt lesen, einen kleinen Beitrag leisten, ist unsere Spendenkampagne in einer Stunde vorüber.
    Sicher könnten wir mit Werbung eine Menge Geld verdienen. Aber dann wäre Wikipedia komplett anders.
    Wir könnten ihr nicht vertrauen. Deshalb wird Wikipedia durch Spenden finanziert.

    Wenn Sie Wikipedia nützlich finden, nehmen Sie sich {{ weekdayPrepPhrase }} {{ currentDayName }} bitte eine Minute Zeit
    und geben Wikipedia mit Ihrer Spende etwas zurück.

    Vielen Dank!
</p>
