<p class="text__paragraph">
	{{ numberOfDonors }} Menschen haben in den letzten Wochen gezeigt, dass Wikipedia einzigartig ist.
	Wir bedanken uns ganz herzlich bei allen Spenderinnen und Spendern für die Unterstützung im letzten Jahr.
</p>

<p class="text__paragraph">
	Doch Wikipedia ist nicht nur deshalb etwas Besonderes. Lesen Sie, warum Wikipedia mehr ist als eine Website.
</p>
