<div id="WMDE_Banner">
	<div class="banner">
		<div class="thankyou-message">
			<div class="thankyou-message__image">
				<img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Thank-you-2017-text-thanks.svg">
			</div>

			<div class="thankyou-message__text">für <span class="thankyou-message__text--num-donors">420.561</span> Spenden in sieben Wochen!</div>
			<div class="thankyou-message__call-to-action"><a href="#">Dankesbotschaft anzeigen</a></div>
		</div>

		<div class="author-message">
			<p>Spenden sind eine Möglichkeit, sich für Freies Wissen zu engagieren &ndash; wussten Sie,
				dass Sie bei Wikipedia auch mitmachen können?</p>
			<button>Lernen, bei Wikipedia mitzuschreiben</button>
		</div>
		<div class="close">
			<a href="#" class="close__link">
				<img src="//upload.wikimedia.org/wikipedia/commons/c/cb/Close_x_-_black.png" alt="schließen" title="schließen">
			</a>
		</div>
	</div>

	<div class="click-tracking">
		<img class="click-tracking__pixel" src="" />
	</div>
</div>

{{> application_of_funds }}
