<p class="text__headline text__headline--italic">
	Liebe Leserinnen und Leser:
</p>

<p class="text__paragraph">
	Verzeihen Sie die Störung. Jetzt sind Sie in Deutschland gefragt.
	Wikipedia wird von Freiwilligen geschrieben und durch Spenden von durchschnittlich 20 € finanziert.
	<span class="text-highlight">
		Wenn alle, die das jetzt lesen, einen kleinen Beitrag leisten, ist unsere Spendenkampagne in einer Stunde vorüber.
	</span>
	Schon der Preis einer Tasse Kaffee würde genügen. Es ist leicht, diese Nachricht zu ignorieren und die meisten werden
	das wohl tun. Millionen von Menschen nutzen Wikipedia, aber nur ein Bruchteil spendet. Wenn Sie Wikipedia nützlich
	finden, nehmen Sie sich {{ weekdayPrepPhrase }} {{ customDayName }} bitte eine Minute Zeit und geben Wikipedia mit Ihrer
	Spende etwas zurück. Vielen Dank!
</p>
