<p class="text__headline text__headline--bold">
	Wikipedia schenkt Ihnen jeden Tag im Jahr neues Wissen
</p>

<p class="text__headline text__headline--bold">
	Nutzen Sie am heutigen {{ currentDayName }} die Möglichkeit etwas zurückzuschenken.
</p>
