<p class="text__headline text__headline--bold text__headline--italic">
	Liebe Leserinnen und Leser:
</p>

<p class="text__paragraph text__paragraph--bold">
	{{ campaignDaySentence }} Als ich mich entschloss, Wikipedia zu einem nicht-kommerziellen Projekt zu machen, wurde mir
	gesagt, ich würde dies bereuen. Heute ist sie die einzige Top-Ten-Website, die von einer gemeinnützigen Gesellschaft
	betrieben wird. Habe ich darüber nachgedacht, wie viel Geld wir verdienen könnten, wenn wir Werbung schalten würden?
	Sicher! Aber dann wäre Wikipedia komplett anders. Wir könnten ihr nicht vertrauen. Um unsere Unabhängigkeit zu schützen,
	schalten wir keine Werbung. Wikipedia wird von Freiwilligen geschrieben und durch Spenden von durchschnittlich 20 Euro
	finanziert. Jetzt sind Sie in Deutschland gefragt.
	<span class="text__highlight">
		Wenn alle, die das jetzt lesen, einen kleinen Beitrag leisten, ist unsere Spendenkampagne in einer Stunde vorüber.
	</span>
	Schon der Preis einer Tasse Kaffee würde genügen. Es ist leicht, diese Nachricht zu ignorieren und die meisten werden das
	wohl tun. Aber ich hoffe, dass einige sich darüber Gedanken machen, wie nützlich Wikipedia ist. Wir ermöglichen
	verlässliche und neutrale Informationen, und das in einer Welt, in der sich sogenannte Fake News allzu leicht verbreiten.
	Bitte nehmen Sie sich {{ weekdayPrepPhrase }} {{ customDayName }} eine Minute Zeit und geben Wikipedia mit Ihrer Spende
	etwas zurück. Vielen Dank ‒
	<span class="text__paragraph--italic">
		Jimmy Wales, Wikipedia-Gründer
	</span>
</p>
