$color-white: #ffffff;
$color-primary: #f6f6f6;
$color-primary-contrast: #000000;
$color-secondary: #2b6da0;
$color-secondary-contrast: #ffffff;
$color-accent: #da9000;
$color-accent-contrast: #ffffff;

$breakpoint_m: 900px;
$breakpoint_l: 1400px;

$banner_bg_gradient: linear-gradient( 135deg, rgba( 246, 246, 246, 1 ) 0%, rgba( 246, 246, 246, 1 ) 50%, rgba( 251, 251, 251, 1 ) 50%, rgba( 251, 251, 251, 1 ) 100% );
