$color-white: #ffffff;
$color-primary: #f6f6f6;
$color-primary-contrast: #000000;
$color-secondary: #2b6da0;
$color-secondary-contrast: #ffffff;
$color-accent: #da9000;
$color-accent-contrast: #ffffff;

$breakpoint-m: 900px;
$breakpoint-l: 1400px;

/* stylelint-disable-next-line max-line-length */
$banner-bg-gradient: linear-gradient( 135deg, rgba( 246 246 246 / 100% ) 0%, rgba( 246 246 246 / 100% ) 50%, rgba( 251 251 251 / 100% ) 50%, rgba( 251 251 251 / 100% ) 100% );
