#WMDE_Banner [class^="icon-"],
#WMDE_Banner [class*=" icon-"],
#wlightbox [class^="icon-"],
#wlightbox [class*=" icon-"] {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/6f/Icomoon_website_icon_sprite.svg');
}

.icon-ok-inverted {
	width: 14px;
	height: 16px;
	background-position: 0 0;
}

.icon-parcel {
	width: 14px;
	height: 16px;
	background-position: -20px 0;
}

.icon-bug {
	width: 15px;
	height: 16px;
	background-position: 0 -20px;
}

.icon-shield {
	width: 11px;
	height: 16px;
	background-position: -20px -20px;
}

.icon-bar-chart {
	width: 17px;
	height: 16px;
	background-position: 0 -40px;
}

.icon-ok {
	width: 16px;
	height: 16px;
	background-position: -20px -40px;
}

.icon-lock {
	width: 10px;
	height: 16px;
	background-position: 0 -60px;
}

.icon-notice {
	width: 11px;
	height: 16px;
	background-position: -20px -60px;
}

.icon-cross {
	width: 14px;
	height: 16px;
	background-position: 0 -80px;
}

.icon-question {
	width: 14px;
	height: 16px;
	background-position: -20px -80px;
}

.icon-check-circle {
	width: 14px;
	height: 16px;
	background-position: 0 -100px;
}

.icon-hand-right {
	width: 16px;
	height: 16px;
	background-position: -20px -100px;
}
