.wmde-banner {
	position: absolute;
	width: 100%;

	&--visible {
		visibility: visible;
	}
	&--hidden {
		display: none;
	}
	&--mini-banner {
		.banner-position {
			/**
			Add padding equal to the approximate height of .mini-banner-tab,
			which is positioned absolutely and does not add height to the container
			*/
			padding-bottom: 40px;
		}

		.fullpage-banner {
			visibility: hidden;
		}
	}

	&--full-page {
		.mini-banner {
			display: none;
		}
	}

	img {
		border: 0 none;
	}
}
