@import '../../../shared/components/ui/use_of_funds/variables.pcss';
@import '/blue-orange-theme/variables.pcss';

@import '../../../shared/components/BannerTransition.pcss';
@import '../../../shared/components/FollowupTransition.pcss';
@import '../../../shared/components/ui/use_of_funds/CompanyBudgets.pcss';
@import '../../../shared/components/ui/use_of_funds/FundsModal.pcss';
@import '../../../shared/components/ui/use_of_funds/FundsContent.pcss';
@import '../../../shared/components/ui/use_of_funds/FundsDistributionAccordion.pcss';

@import '/blue-orange-theme/layout/Banner.pcss';
@import '/blue-orange-theme/layout/MiniBanner.pcss';
@import '/blue-orange-theme/layout/Slider.pcss';
@import '/blue-orange-theme/layout/ProgressBar.pcss';
@import '/blue-orange-theme/layout/FullpageBanner.pcss';
@import '/blue-orange-theme/layout/DonationForm.pcss';
@import '/blue-orange-theme/layout/SelectGroup.pcss';

@import '/blue-orange-theme/theme/Banner.pcss';
@import '/blue-orange-theme/theme/MiniBanner.pcss';
@import '/blue-orange-theme/theme/Slider.pcss';
@import '/blue-orange-theme/theme/ProgressBar.pcss';
@import '/blue-orange-theme/theme/FullpageBanner.pcss';
@import '/blue-orange-theme/theme/DonationForm.pcss';
@import '/blue-orange-theme/theme/SelectGroup.pcss';
@import '/blue-orange-theme/theme/Footer.pcss';
