@import '../../../shared/components/ui/use_of_funds/variables.pcss';
@import './blue-orange-theme/variables.pcss';

@import '../../../shared/components/FollowupTransition.pcss';
@import '../../../shared/components/ui/use_of_funds/CompanyBudgets.pcss';
@import '../../../shared/components/ui/use_of_funds/FundsModal.pcss';
@import '../../../shared/components/ui/use_of_funds/FundsContent.pcss';
@import '../../../shared/components/ui/use_of_funds/FundsDistributionAccordion.pcss';

@import './blue-orange-theme/Banner.pcss';
@import './blue-orange-theme/MiniBanner.pcss';
@import './blue-orange-theme/FullpageBanner.pcss';
@import './blue-orange-theme/Slides.pcss';
@import './blue-orange-theme/DonationForm.pcss';
@import './blue-orange-theme/SelectGroup_var.pcss';
@import './blue-orange-theme/SmsBox.pcss';
@import './blue-orange-theme/BannerText.pcss';
@import './blue-orange-theme/TextHighlight.pcss';
@import './blue-orange-theme/ProgressBar.pcss';
@import './blue-orange-theme/Footer.pcss';
