.wmde-banner {
	.button-group__button {
		height: 60px;
		line-height: 60px;
		border-radius: 30px;
		font-weight: bold;
		color: $color-white;
		background: $color-secondary;

		&:hover,
		&:focus {
			background: $color-secondary-hover;
		}
	}
}
