.wmde-banner {
	.footer {
		font-size: 12px;
		line-height: 22px;
		padding-bottom: 15px;

		&__info {
			text-transform: uppercase;
		}

		&__importantinfo {
			font-weight: bolder;
		}

		&__usage {
			display: none;
		}

		&__item {
			white-space: nowrap;

			&--rightflex {
				flex-grow: 1;
				text-align: right;
			}

			span {
				margin-right: 0.3em;
			}
		}
	}
}

@media ( min-width: 500px ) {
	.wmde-banner {
		.footer {
			font-size: 16px;
		}
	}
}
