/**
The order in which imports happen is important because component ones
can be overridden by the theme and the individual banners. The variable
weight should be component < theme < banner.
 */

/* COMPONENT VARIABLES */
@import '../../../components/ButtonClose/ButtonCloseVariables.pcss';
@import '../../../components/Footer/FooterVariables.pcss';
@import '../../../components/UseOfFunds/UseOfFundsVariables.pcss';

@import '../../../themes/gotan/theme-variables.pcss';
@import './variables.pcss';

@import './Banner.pcss';

/* COMPONENTS */
@import '../../../components/BannerTransition/BannerTransition.pcss';
@import '../../../components/ButtonClose/ButtonClose.pcss';
@import '../../../components/MultistepDonationForm/MultistepDonationForm.pcss';
@import '../../../components/MultistepDonationForm/forms/UpgradeToYearly.pcss';
@import '../../../components/MultistepDonationForm/forms/CustomAmount.pcss';
@import '../../../components/DonationForm/subcomponents/SelectGroup.pcss';
@import '../../../components/DonationForm/subcomponents/SelectCustomAmount.pcss';
@import '../../../components/ProgressBar/ProgressBar.pcss';
@import '../../../components/SoftClose/SoftClose.pcss';
@import '../../../components/AlreadyDonatedModal/AlreadyDonatedModal.pcss';

/* omitting the SmsBox import here because we're not displaying it */
@import '../../../components/Footer/FooterAlreadyDonated.pcss';
@import '../../../components/Footer/SelectionInput.pcss';
@import '../../../components/Slider/Slider.pcss';
@import '../../../components/UseOfFunds/UseOfFunds.pcss';

/* THEME */
@import '../../../themes/gotan/animated-text-highlight.pcss';
@import '../../../themes/gotan/ButtonClose/ButtonClose.pcss';
@import '../../../themes/gotan/MultistepDonationForm/MultistepDonationForm.pcss';
@import '../../../themes/gotan/MultistepDonationForm/UpgradeToYearly.pcss';
@import '../../../themes/gotan/MultistepDonationForm/CustomAmount.pcss';
@import '../../../themes/gotan/DonationForm/SelectGroup.pcss';
@import '../../../themes/gotan/DonationForm/SelectCustomAmount.pcss';
@import '../../../themes/gotan/DonationForm/SmsBox.pcss';
@import '../../../themes/gotan/ProgressBar/ProgressBar.pcss';
@import '../../../themes/gotan/Footer/FooterAlreadyDonated.pcss';
@import '../../../themes/gotan/Footer/SelectionInput.pcss';
@import '../../../themes/gotan/Message/Message.pcss';
@import '../../../themes/gotan/Slider/Slider.pcss';
@import '../../../themes/gotan/SoftClose/SoftClose.pcss';
@import '../../../themes/gotan/AlreadyDonatedModal/AlreadyDonatedModal.pcss';
