<p class="text__headline text__headline--bold text__headline--italic">
	Liebe Leserinnen und Leser:
</p>

<p class="text__paragraph text__paragraph--bold">
	Verzeihen Sie die Störung. Einmal im Jahr sind Sie in Deutschland gefragt. {{ campaignDaySentence }}.
	Wikipedia wird von Freiwilligen geschrieben und durch Spenden von durchschnittlich 20 Euro finanziert.
	<span class="text__highlight">
		Wenn alle, die das jetzt lesen, einen kleinen Beitrag leisten, ist unsere Spendenkampagne in einer Stunde vorüber.
	</span>
	Schon der Preis einer Tasse Kaffee würde genügen. Über X Millionen Mal wird unser Spendenaufruf täglich angezeigt, aber
	nur xx Menschen haben bisher gespendet. Es ist leicht, diese Nachricht zu ignorieren und die meisten werden das wohl tun.
	Wenn Sie Wikipedia nützlich finden, nehmen Sie sich an diesem [Tag] bitte eine Minute Zeit und geben Wikipedia mit Ihrer
	Spende etwas zurück.
	<span class="text__paragraph--italic">Vielen Dank!</span>
</p>
