/* Adaptation of Minerva skin to make the transition in shared/skins/minerva.js work,
 * A workaround for https://github.com/w3c/csswg-drafts/issues/626
 */
#mw-mf-viewport {
	top: 0;
}

.banner-position {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 10000;
}

.banner-position--fixed {
	position: fixed;
}
