/* Adaptation of Minerva skin to make the transition in shared/skins/minerva.js work,
 * A workaround for https://github.com/w3c/csswg-drafts/issues/626
 */
#mw-mf-viewport {
	top: 0;
}

.banner-position {
	position: fixed;
	width: 100%;
	z-index: 10000;
}

/* TODO find out why and where this is deprecated now, because position: fixed works as a general solution again
    - it could be deleted in mobile preact*/
.banner-position--fixed {
	position: fixed;
}
