#centralNotice.collapsed #WMDE_Banner {
    display: none;
}

#WMDE_Banner {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size:13px;
    text-align: left;
    background: transparent;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#WMDE_Banner input, select, button{
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 13px;
}

#WMDE_Banner input {
    background: none repeat scroll 0 0 white;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    padding: 0 2px;
}

#WMDE_Banner input[type=radio] {
    padding: 0;
    border: none;
}

#WMDE_Banner input.focused {
    border-color: #545454;
}

#WMDE_Banner input.invalid {
    border-color: #C25959;
}

#WMDE_Banner hr {
    background-color: #a9a9a9;
}

#WMDE_Banner div {
    box-sizing: content-box;
}

#WMDE_Banner table {
    border: none;
    border-collapse: collapse!important;
    width: 100%;
}

#WMDE_Banner td {
    vertical-align: top;
}

#WMDE_BannerForm-wrapper {
    width: 254px;
    height: 158px;
    background: #eef0fc;
    border-left: 1px solid #c2cedb;
    border-right: 1px solid #c2cedb;
}

#WMDE_BannerForm {
    height: 100%;
}

#WMDE_BannerForm td {
    font-weight: bold;
    min-width: 55px;
    white-space: nowrap;
    margin: 0;
    vertical-align: middle;
    padding: 2px;
}

#WMDE_BannerForm span label {
    margin-left: 2px;
}

#WMDE_BannerForm .amount-options {
    height: 20%;
}

#WMDE_BannerForm-payment td {
    font-weight: bold;
    padding: 4px 8px 0 8px;
}

#WMDE_BannerForm-payment td:last-child {
    padding: 4px 8px 0 2px;
}

#WMDE_BannerForm-payment .amount-options td {
    padding: 2px 0 2px 2px;
}

#WMDE_BannerForm-payment .amount-options td:last-child {
    padding: 2px;
}

#WMDE_BannerForm-payment .amount-label {
    width: 36px;
    line-height: 22px;
}

#WMDE_BannerForm-payment .amount-radio {
    margin: 3px 0 0 3px;
}

#WMDE_BannerForm-payment #amount-other-input {
    width: 27px;
}

#WMDE_BannerForm-payment button {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    width: 110px;
    border: 3px double #ddd;
    border-radius: 8px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0); /* IE6-9 */
    margin: 0 1px;
}

#WMDE_BannerForm-payment button.active {
    color: #FF6C00;
    background: #e5e5e5; /* Old browsers */
    background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e5e5e5 0%, #ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
}

#WMDE_BannerForm-payment button:hover {
    color: #0645ad;
}

#WMDE_BannerForm-payment button.active:hover {
    color: #FF6C00;
}

#WMDE_BannerForm button:hover {
    color: #0645ad;
}

#WMDE_Banner-facts {
    background: #CEDFF1 url(https://upload.wikimedia.org/wikipedia/donate/3/37/Information-icon-yellow.png) no-repeat 10px 8px;
    background-position: left 10px bottom 4px;
    height: 100%;
    min-height: 65px;
    padding: 0;
    position: relative;
    width: 100%;
    border: none;
    border-collapse: collapse;
}

#WMDE_Banner-text {
    color: #000;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.2em;
    margin: 4px 10px 4px 35px;
    text-align: justify;
    padding-bottom: 2px;
}

#WMDE_Banner-legal {
    position: relative;
    margin: 0;
    padding: 10px 40px 10px 40px;
    line-height: 16px;
    z-index: -10;
    background: #CEDFF1;
    top: -100px;
    text-align: center;
}

#WMDE_Banner-close-wrapper {
    padding: 0;
    width: 20px;
}

#WMDE_Banner-close {
    background: url(https://upload.wikimedia.org/wikipedia/donate/2/27/Small-white-close.png) no-repeat center center;
    background-color: black;
    cursor: pointer;
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
}

#WMDE_Banner-facts p b {
    background: yellow;
    color: black;
    padding: 1px 0.5em;
}

#WMDE_Banner .interval-hidden {
    display: none;
}

#WMDE_Banner_info {
    margin: 0 10px 2px 35px;
    line-height: 16px;
    position: relative;
    border-top: 1px solid #988A00;
    padding-top: 2px;
    color: #000000;
}

#WMDE_Banner_text {
    display: inline-block;
}

#WMDE_Banner_info span {
    margin-right: 10px;
}

#WMDE_Banner_info span.binfo-ucase {
    text-transform: uppercase;
}

#WMDE_Banner_info span.binfo-bold {
    font-weight: bold;
}

#WMDE_Banner span.btext-highlight {
    background-color: yellow;
    padding: 1px 5px;
}
#WMDE_Banner .highlight {
    background-color: yellow;
}

#amtTarget {
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 3px;
    width: 70px;
}

/* --- Error Msg --- */

#WMDE_Banner-amounts.fieldset-error, #WMDE_Banner-frequency.fieldset-error {
    float: left;
    border: 2px solid red;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-left: -2px;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

#WMDE_Banner-amounts-error-text, #WMDE_Banner-frequency-error-text {
    color: red;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 0.2em;
}
